{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
	<title>О компании</title>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row addhead">
			<h1>О компании</h1>
		</div>
		<div class="row">
			<p>Диагностический Центр "АльфаСкан 3D" создан для оказания высокотехнологичной и высококвалифицированной диагностической помощи пациентам с заболеваниями челюстно-лицевой области и придаточных пазух носа.</p>
			<p>
				<h4>К этому есть все необходимые условия:</h4>
				<ul>
					<li>компетентные руководители</li>
					<li>современная техническая база</li>
					<li>квалифицированный персонал</li>
					<li>ориентация на взаимодействие с врачами-стоматологами, челюстно-лицевыми хирургами и оториноларингологами</li>
				</ul>
			</p>
		</div>
		<div class="alldoct">
		<div class="row aboutdoctorsitem">
			<div class="col-sm-4">
				<img class="aboutdocs" src="{% static 'img/03-2.png' %}" alt="Иванов Иван Иванович">
			</div>
			<div class="col-sm-8">
				<p>
					<span><a name="agn" class="dnames">Иванов Иван Иванович</a></span>
					<br>
					Доктор медицинских наук, профессор
				</p>
				<p>
					Руководитель медицинского подразделения и главный врач ДЦ "АльфаСкан 3D"<br>Заведующий Отделом лучевой диагностики ФГБУ «77777»
				</p>
				<p>
					Известный специалист в области лучевой диагностики<br>врожденных и приобретенных заболеваний челюстно-лицевой области
				</p>
				<p>
					<span>Опыт работы по специальности:</span>
					<ul>
						<li>«Рентгенология» – более 40 лет</li>
						<li>«Ультразвуковая диагностика» - более 25 лет</li>
					</ul>
				</p>
				<p>
					Автор и соавтор в 8 монографиях, 8 патентах на изобретение<br>Опубликовано более 200 статей<br>Представлено более 80 докладов на международных конгрессах
				</p>
			</div>
		</div>

		<div class="row aboutdoctorsitem">
			<div class="col-sm-4">
				<img class="aboutdocs" src="{% static 'img/03-1.jpg'%}" alt="Иванова Надежда Ивановна">
			</div>
			<div class="col-sm-8">
				<p>
					<span><a name="ovv" class="dnames">Иванова Надежда Ивановна</a></span>
					<br>
					Доктор медицинских наук
				</p>
				<p>
					Директор ДЦ "АльфаСкан 3D"<br>
					Профессор кафедры лучевой диагностики детского возраста<br>ФГБОУ ДПО РМАНПО МЗ РФ<br>
					Ведущий научный сотрудник отдела лучевой диагностики<br>ФГБУ «ЦНИИСиЧЛХ» МЗ РФ
				</p>
				<p>
					Известный специалист в области ультразвуковой диагностики в педиатрии<br> Автор методики комплексной ультразвуковой оценки органов иммунной системы
				</p>
				<p>
					<span>Опыт работы по специальности:</span>
					<ul>
						<li>"Ультразвуковая диагностика" – более 20 лет</li>
						<li>«Рентгенология» – 10 лет</li>
					</ul>
				</p>
				<p>
					Автор и соавтор в 2 монографиях, 4 патентах на изобретение<br>
					Опубликовано более 70 статей<br>
					Представлено 28 докладов на научных конгрессах
				</p>
			</div>
		</div>
		</div>
		<div class="bluediv">
			<hr>
		</div>
		<div class="row research text-center">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<p>
					Диагностический центр "АльфаСкан 3Д" оснащен современным диагностическим комплексом<br><span>Genoray Volux 55 (Genoray Papaya 3D Plus)</span>, позволяющим проводить<br>конусно-лучевую компьютерную томографию, ортопантомографию и телерентгенографию.
				</p>
			</div>
		</div>
		<div class="bluediv">
			<hr>
		</div>
		<br>
		<p>Современные технологические решения в производстве детекторных матриц обеспечивают:</p>
		<ul>
			<li>Высокое качество получаемого изображения (разрешение до 0,07мм(!))</li>
			<li>Низкую лучевую нагрузку на пациента во время проведения исследования</li>
		</ul>
		<p>Конструктивные особенности конусно-лучевого томографа позволяют проводить исследование широкого диапазона объемов<br>– от 16х14см (для ортодонтов, челюстно-лицевых хирургов и оториноларингологов) до 3,4х4см (для эндодонтов).</p>
		<p>Продуманное программное обеспечение и дружественный интерфейс предоставляет широкие возможности врачу для самостоятельного изучения состояния любого интересующего отдела челюстно-лицевой области пациента.</p>
		<p>Квалифицированный персонал всегда готов помочь врачу-стоматологу в интерпретации данных КЛКТ и разобраться с функциями программы.</p>
	</div>
{% endblock %}