<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block title %}
	{% endblock %}

	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'sass/main.sass' %}">

    {% block css %}
	{% endblock %}



</head>
<body>
	<div class="mainhead">
		<div class="container">
			<div class="row topp">
				<div class="col-md-1">
					<div class="text-left">
						<img class="rounded logo" src="{% static 'img/logoas.png' %}" width="120px" alt="АльфаСкан">
					</div>
				</div>
				<div class="col-md-3 order-sm-2 col-xs-12">

				</div>
				<div class="col-md-8 order-sm-1 col-xs-12 text-right">
					<nav class="main-menu text-uppercase">
						{% include 'mainapp/includes/inc_menu.html' %}
					</nav>
				</div>
			</div>
		</div>
	</div>



	{% block content %}
	{% endblock %}
	<div class="container-fluid">
		<div class="container footer">
			<div class="row">

				<div class="col-sm-2 footm">
					<nav>
						{% include 'mainapp/includes/inc_menu.html' %}
					</nav>
				</div>

				<div class="col-sm-6">
				</div>
				<div class="col-sm-4 text-right">
					<div class="pfoot">
						<p><span>Телефон:</span> +7 (499) 444-02-61</p>
						<p><span>Адрес:</span> 117624, г.Москва, ул. Скобелевская, 1А<br>Здание "КОМФОРТ", 2-й этаж.</p>
						<p><span>График работы:</span><br>Пн - Пт: с 9:00 до 21:00<br>Сб - Вс: с 10:00 до 20:00</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	{% block js %}
	{% endblock %}

</body>
</html>