<!DOCTYPE html>
{% load static%}
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>АльфаСкан</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'sass/main.sass' %}">
</head>
<body>
	<div class="mainhead">
		<div class="container">
			<div class="row topp">
				<div class="col-md-1">
					<div class="text-left">
						<img class="rounded logo" src="{% static 'img/logoas.png' %}" width="120px" alt="АльфаСкан">
					</div>
				</div>

				<div class="col-md-8 order-sm-1 text-right">
					<nav class="main-menu text-uppercase">
						{% include 'mainapp/includes/inc_menu.html' %}
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="contacts">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 contheader">
					<h2 class="text-center">Контакты:</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<iframe class="border" src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d564.2413875507856!2d37.55720516057651!3d55.55038573329925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e2!4m5!1s0x414aac364e5c3d0b%3A0x1989dccda0cdf0f2!2sSkobelevskaya+Ulitsa%2C+Moskva%2C+117624!3m2!1d55.547639399999994!2d37.555296299999995!4m3!3m2!1d55.5503946!2d37.557036599999996!5e0!3m2!1sen!2sru!4v1563970653108!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
				<div class="col-sm-5 text-right">
					<div class="direction">
						<p><span>Телефон:</span> +7 (777) 777-77-77</p>
						<p><span>Адрес:</span> 117624, г.Москва, ул. Скобелевская, 1А<br>Здание "КОМФОРТ", 2-й этаж.</p>
						<p><span>График работы:</span><br>Пн - Пт: с 9:00 до 21:00<br>Сб - Вс: с 10:00 до 20:00</p>
						<p><span>Как добраться:</span></p>
						<p>м. Скобелевская, выход № 2,<br>260 метров до здания "КОМФОРТ"<br></p>
						<div class="subp">
							<p>(Вам нужно пройти между центрами "Медок" и "Инвитро" по асфальтированной дорожке через благоустроенный двор к зданию "КОМФОРТ" и подняться на 2-й этаж).</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>	