<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>АльфаСкан</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
	<div class="mainhead">
		<div class="container">
			<div class="row topp">
				<div class="col-md-1">
					<img class="rounded logo" src="{% static 'img/logoas.png' %}" width="120px" alt="АльфаСкан">
				</div>
				<div class="col-md-8 order-sm-1 text-right">
					<nav class="main-menu text-uppercase">
						{% include 'mainapp/includes/inc_menu.html' %}
					</nav>
				</div>
			</div>
			<div class="row headcont">
				<div class="col-sm-7 leftcont">
					<h1>Центр конусно-лучевой компьютерной томографии</h1>
					<div class="subheadp">
						<p class="text-uppercase">
							Оказание высокотехнологичной и высококвалифицированной диагностической помощи пациентам с заболеваниями челюстно-лицевой области и придаточных пазух носа
						</p>
					</div>

				</div>
				<div class="col-sm-5 col-xs-12">
					<div class="top-img-wrap text-right">
						<img class="rounded img_resp" src="{% static 'img/bgimground.png' %}" alt="АльфаСкан">
					</div>
				</div>

			</div>
		</div>
	</div>
	<hr class="hrmaintop">
	<div class="alphasc">
		<div class="container">
			<div class="row text-center ">
				<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<p>
						Диагностический Центр "АльфаСкан 3Д"<br>– <span>единственный в Москве</span><br> центр конусно-лучевой компьютерной томографии,<br>исследования в котором выполняются<br>под руководством и непосредственной курацией<br>доктора медицинских наук,<br>профессора лучевой диагностики
					</p>
					<i><span>"ALFA means THE BEST!"</span></i>
				</div>
			</div>
		</div>
	</div>

	<div class="doctors">
		<div class="container">
			<div class="row text-center">
				<div class="col-sm-3"></div>
				<div class="col-sm-3">
					<div class="item_img imgit">
						<img src="{% static 'img/03-2.png' %}" width="60%" alt="item">
						<h3 class="text-uppercase">Иванов Иван Иванович</h3>
						<p>Доктор медицинских наук, профессор</p>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="item_img imgit">
						<img src="{% static 'img/03-1.jpg' %}" width="60%" alt="item">
						<h3 class="text-uppercase">Иванова Надежда Ивановна</h3>
						<p>Доктор медицинских наук<br><br></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 contheader">
			<h2 class="text-center">Контакты:</h2>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-7">
				<iframe class="border" src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d564.2413875507856!2d37.55720516057651!3d55.55038573329925!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e2!4m5!1s0x414aac364e5c3d0b%3A0x1989dccda0cdf0f2!2sSkobelevskaya+Ulitsa%2C+Moskva%2C+117624!3m2!1d55.547639399999994!2d37.555296299999995!4m3!3m2!1d55.5503946!2d37.557036599999996!5e0!3m2!1sen!2sru!4v1563970653108!5m2!1sen!2sru" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<div class="col-sm-5 text-left">
				<div class="direction">
					<p><span>Телефон:</span> +7 (777) 777-77-77</p>
					<p><span>Адрес:</span> 117624, г.Москва, ул. Скобелевская, 1А<br>Здание "КОМФОРТ", 2-й этаж.</p>
					<p><span>График работы:</span><br>Пн - Пт: с 9:00 до 21:00<br>Сб - Вс: с 10:00 до 20:00</p>
					<p><span>Как добраться:</span></p>
					<p>м. Скобелевская, выход № 2,<br>260 метров до здания "КОМФОРТ"<br>(Вам нужно пройти между центрами "Медок" и "Инвитро" по асфальтированной дорожке через благоустроенный двор к зданию "КОМФОРТ" и подняться на 2-й этаж).</p>
				</div>
			</div>
		</div>
	</div>
</div>
	<div class="container-fluid">
		<div class="container footer">
			<div class="row">

				<div class="col-sm-2 footm">
					<nav>
						{% include 'mainapp/includes/inc_menu.html' %}
					</nav>
				</div>

				<div class="col-sm-6">
				</div>
				<div class="col-sm-4 text-right">
					<div class="pfoot">
						<p><span>Телефон:</span> +7 (499) 444-02-61</p>
						<p><span>Адрес:</span> 117624, г.Москва, ул. Скобелевская, 1А<br>Здание "КОМФОРТ", 2-й этаж.</p>
						<p><span>График работы:</span><br>Пн - Пт: с 9:00 до 21:00<br>Сб - Вс: с 10:00 до 20:00</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
