{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
	<title>Прайслист</title>
{% endblock %}

{% block content %}


	<div class="container">
		<div class="row addhead">
			<h1>Прайс-лист</h1>
		</div>

        {% for product in products %}
            <div class = "block">
            <!--    <a href = "#">-->
                    <img src = "/media/{{ product.image }}" alt = "{{ product.short_desc }}">
                        <div class = "text" >
                            <span>{{ product.category.name }}</span>
                            <br>{{ product.name }}</br>
                            <br>{{ product.description }}</br>
                            <br>{{ product.price }}.руб </br>
                        </div >
            <!--    </a >-->
            </div >
        {% endfor %}

<!--		<table class="table table-bordered pricedescr"">-->
<!--          <thead> </thead>-->
<!--          <tbody>-->
<!--            <tr>-->
<!--                <th colspan="4">КОНУСНО-ЛУЧЕВАЯ КОМПЬЮТЕРНАЯ ТОМОГРАФИЯ</th>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>K-01</td>-->
<!--                <td>КЛКТ 16х14 см <br><span>(2 челюсти+ верхнечелюстные синусы + ВНЧС)</td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ОПТГ на пленке-->
<!--                    </td>-->
<!--                    <td>4500</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-02</td>-->
<!--                    <td>-->
<!--                        КЛКТ 16х8см-->
<!--                        <br>-->
<!--                        <span>(2 челюсти + нижние отделы верхнечелюстных синусов)</span>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ОПТГ на пленке-->
<!--                    </td>-->
<!--                    <td>4000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-03</td>-->
<!--                    <td>КЛКТ 16х5 см <span>(1 челюсть)</span></td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ОПТГ на пленке-->
<!--                    </td>-->
<!--                    <td>4000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-04</td>-->
<!--                    <td>КЛКТ 8х8см / 7х7см <span>(2 квадранта*: 1 и 4 или 2 и 3)</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>3500</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-05</td>-->
<!--                    <td>КЛКТ 8х5см <span>(1 квадрант*: 1, 2, 3 или 4)</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>3500</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-06</td>-->
<!--                    <td>КЛКТ 4х5см / 3,5х4см (1 сегмент**): разрешение 0,07мм (!)</td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>3500</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>K-07</td>-->
<!--                    <td>Разметка для имплантации <span>(1 сегмент**)</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>1000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-08</td>-->
<!--                    <td>Разметка для имплантации <span>(1 квадрант*)</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>1400</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-09</td>-->
<!--                    <td>Разметка для имплантации <span>(1 челюсть)</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>2000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-10</td>-->
<!--                    <td>Разметка для имплантации <span>(2 челюсти)</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>3000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-11</td>-->
<!--                    <td>Разметка альвеолярной кости в области перемещения зубов <br><span>(1 челюсть)***</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>2500</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-12</td>-->
<!--                    <td>Разметка альвеолярной кости в области перемещения зубов <br><span>(2 челюсти)***</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>4500</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>K-13</td>-->
<!--                    <td>Разметка альвеолярной резорбции <span>(1 челюсть)***</span></td>-->
<!--                    <td></td>-->
<!--                    <td>2500</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-14</td>-->
<!--                    <td>Разметка альвеолярной резорбции <span>(2 челюсти)***</span></td>-->
<!--                    <td></td>-->
<!--                    <td>4500</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>K-15</td>-->
<!--                    <td>Детализация области интереса <span>(1 сегмент**)</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>1000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-16</td>-->
<!--                    <td>Детализация области интереса <span>(1 квадрант*)</span></td>-->
<!--                    <td>Скриншоты-пленка</td>-->
<!--                    <td>1400</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>K-17</td>-->
<!--                    <td>Описание 1 челюсти <span>(без дентального статуса)***</span></td>-->
<!--                    <td></td>-->
<!--                    <td>1500</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-18</td>-->
<!--                    <td>Описание 2 челюстей <span>(без дентального статуса)***</span></td>-->
<!--                    <td></td>-->
<!--                    <td>2200</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-19</td>-->
<!--                    <td>Описание дентального статуса**** <span>(1 сегмент**)***</span></td>-->
<!--                    <td></td>-->
<!--                    <td>1000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-20</td>-->
<!--                    <td>Описание дентального статуса**** <span>(1 квадрант*)***</span></td>-->
<!--                    <td></td>-->
<!--                    <td>1700</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-21</td>-->
<!--                    <td>Описание дентального статуса**** <span>(1 челюсть)***</span></td>-->
<!--                    <td></td>-->
<!--                    <td>3000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>K-22</td>-->
<!--                    <td>Описание дентального статуса**** <span>(2 челюсти)***</span></td>-->
<!--                    <td></td>-->
<!--                    <td>4500</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <th colspan="4">ИССЛЕДОВАНИЕ ВИСОЧНО-НИЖНЕЧЕЛЮСТНЫХ СУСТАВОВ</th>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>C-01</td>-->
<!--                    <td>КЛКТ двух ВНЧС <span>(в одной позиции)</span></td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ОПТГ на пленке-->
<!--                        <br>-->
<!--                        + скриншоты ВНЧС на пленке-->
<!--                    </td>-->
<!--                    <td>4000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>C-02</td>-->
<!--                    <td>КЛКТ двух ВНЧС <span>(в двух позициях)</span></td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ОПТГ на пленке-->
<!--                        <br>-->
<!--                        + скриншоты ВНЧС на пленке-->
<!--                    </td>-->
<!--                    <td>5000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>C-03</td>-->
<!--                    <td>КЛКТ двух ВНЧС <span>(в трех позициях)</span></td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ОПТГ на пленке-->
<!--                        <br>-->
<!--                        + скриншоты ВНЧС на пленке-->
<!--                    </td>-->
<!--                    <td>6000</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>C-04</td>-->
<!--                    <td>Описание КЛКТ ВНЧС</td>-->
<!--                    <td></td>-->
<!--                    <td>2000</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <th colspan="4">ИССЛЕДОВАНИЕ ЛОР-ОРГАНОВ</th>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>Л-01</td>-->
<!--                    <td>КЛКТ верхнечелюстных синусов</td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ОПТГ на пленке-->
<!--                        <br>-->
<!--                        + скриншоты в 2-х плоскостях на пленке-->
<!--                    </td>-->
<!--                    <td>4000</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Л-02</td>-->
<!--                    <td>КЛКТ всех околоносовых синусов</td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        + скриншоты в 2-х плоскостях на пленке-->
<!--                    </td>-->
<!--                    <td>4500</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>Л-03</td>-->
<!--                    <td>Описание околоносовых синусов и орбит</td>-->
<!--                    <td></td>-->
<!--                    <td>1000</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <th colspan="4">ОРТОПАНТОМОГРАФИЯ</th>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>О-01</td>-->
<!--                    <td>Цифровая</td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ОПТГ на пленке-->
<!--                    </td>-->
<!--                    <td>1300</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>О-02</td>-->
<!--                    <td>Реконструкция из КЛКТ</td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ОПТГ на пленке-->
<!--                    </td>-->
<!--                    <td>1300</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>О-03</td>-->
<!--                    <td>Описание ОПТГ</td>-->
<!--                    <td></td>-->
<!--                    <td>1500</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <th colspan="4">ТЕЛЕРЕНТГЕНОГРАФИЯ</th>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>Т-01</td>-->
<!--                    <td>Цифровая ТРГ <span>(одна проекция)</span></td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ТРГ на пленке-->
<!--                    </td>-->
<!--                    <td>1300</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Т-02</td>-->
<!--                    <td>Цифровая ТРГ <span>(две проекции)</span></td>-->
<!--                    <td>-->
<!--                        + CD-->
<!--                        <br>-->
<!--                        + распечатка ТРГ на пленке-->
<!--                    </td>-->
<!--                    <td>2000</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>Т-03</td>-->
<!--                    <td>Расчет телерентгенограммы</td>-->
<!--                    <td></td>-->
<!--                    <td>2000</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <th colspan="4">ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</th>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>Д-01</td>-->
<!--                    <td>Доставка курьером по Москве</td>-->
<!--                    <td></td>-->
<!--                    <td>400</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Д-02</td>-->
<!--                    <td>Доставка курьером в ближнее Подмосковье</td>-->
<!--                    <td></td>-->
<!--                    <td>600</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Д-03</td>-->
<!--                    <td>Дублирование исследования на пленке</td>-->
<!--                    <td></td>-->
<!--                    <td>400</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Д-04</td>-->
<!--                    <td>Дублирование исследования на диске</td>-->
<!--                    <td></td>-->
<!--                    <td>400</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Д-05</td>-->
<!--                    <td>Консультация врача-рентгенолога <span>(для врачей-партнеров)</span></td>-->
<!--                    <td></td>-->
<!--                    <td>бесплатно</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Д-06</td>-->
<!--                    <td>Обучение врачей-партнеров работе с просмотровой программой TRIANA</td>-->
<!--                    <td></td>-->
<!--                    <td>бесплатно</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>Д-07</td>-->
<!--                    <td>Сканирование гипсовой модели <span>(файл *.STL для CAD/CAM)</span></td>-->
<!--                    <td></td>-->
<!--                    <td>500</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <th colspan="4">КОМПЛЕКСНЫЕ ПРЕДЛОЖЕНИЯ</th>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td>001</td>-->
<!--                    <td>«Пакет-1» <span>(КЛКТ любого формата + описание)</span></td>-->
<!--                    <td></td>-->
<!--                    <td>Скидка<br>500р</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>002</td>-->
<!--                    <td>«Имплантолог» <span>(ОПТГ + КЛКТ 16х8см)</span></td>-->
<!--                    <td></td>-->
<!--                    <td>4900</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>003</td>-->
<!--                    <td>«Ортодонт-1» <span>(ОПТГ+ТРГ+ расчет ТРГ)</span></td>-->
<!--                    <td></td>-->
<!--                    <td>4100</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>004</td>-->
<!--                    <td>«Ортодонт-2» <span>(КЛКТ16х14см+ТРГ+ расчет ТРГ)</span></td>-->
<!--                    <td></td>-->
<!--                    <td>7200</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>005</td>-->
<!--                    <td>«Терапевт» <span>(ОПТГ цифровая + КЛКТ 4х5см)</span></td>-->
<!--                    <td></td>-->
<!--                    <td>4200</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>006</td>-->
<!--                    <td>«Пародонт» <span>(КЛКТ 16х8см + расчет альвеолярной резорбции)</span></td>-->
<!--                    <td></td>-->
<!--                    <td>7300</td>-->
<!--                </tr>-->

<!--                <tr>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->
<!--            </tbody>-->
<!--        </table>-->
        <p>
            <span>Примечания:</span>
            <br>* -1 квадрант = 1 половина зубного ряда
            <br>** - 1 сегмент = 3 см зубного ряда
            <br>*** - выполняется в течение 2-х рабочих дней
            <br>**** - описание дентального статуса: описание каждого канала каждого корня каждого зуба
            <br>Срочное описание (С): +500руб. к стоимости описания по прейскуранту (код № +С).
        </p>
        <div class="sales">
            <p>
                <span>На КЛКТ 16х14 см и 16х8 см установлены скидки:</span>
                <ul>
                    <li>
                        10% - детям до 12 лет, пациентам старше 70 лет, инвалидам 1 и 2 групп,
                        членам многодетных семей (при наличии документов);
                    </li>
                    <li>
                        50% - на повторное исследование в течение года
                    </li>
                </ul>
            </p>
        </div>
        <p><span>Имеются противопоказания к выполнению рентгенологического исследования.<br>Проконсультируйтесь с лечащим врачом.</span></p>
    </div>
{% endblock %}